app/flows/data_retrieval-solution1_dashboard.json
[{"id":"d141ee18.59417","type":"tab","label":"Data feed","disabled":false,"info":""},{"id":"dd125598.56b008","type":"tab","label":"Dashboard-Simulator","disabled":false,"info":""},{"id":"942da33e.1c1b2","type":"tab","label":"Dashboard-SenseHat","disabled":false,"info":""},{"id":"fee98c91.8a287","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1071f503.257ceb","type":"ui_tab","z":"","name":"Simulator","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fde4866f.851ff8","type":"ui_group","z":"","name":"Temperature","tab":"1071f503.257ceb","order":1,"disp":true,"width":"6","collapse":false},{"id":"9a4e895b.be7378","type":"ui_group","z":"","name":"Humidity","tab":"1071f503.257ceb","order":2,"disp":true,"width":"6","collapse":false},{"id":"9492d025.a8517","type":"ui_group","z":"","name":"Pressure","tab":"1071f503.257ceb","order":3,"disp":true,"width":"6","collapse":false},{"id":"e14daf63.1dea58","type":"ui_tab","z":"","name":"Sense Hat","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"263558e7.b57a98","type":"ui_group","z":"","name":"Temperature","tab":"e14daf63.1dea58","order":1,"disp":true,"width":"6","collapse":false},{"id":"9656f477.d04768","type":"ui_group","z":"","name":"Humidity","tab":"e14daf63.1dea58","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d36a0dc.42082","type":"ui_group","z":"","name":"Pressure","tab":"e14daf63.1dea58","order":3,"disp":true,"width":"6","collapse":false},{"id":"10c838f3.a145e7","type":"rpi-sensehatsim in","z":"dd125598.56b008","name":"","motion":false,"env":true,"stick":false,"x":180,"y":280,"wires":[["fe065cfa.d64ce"]]},{"id":"6c8b5a67.a98fe4","type":"comment","z":"dd125598.56b008","name":"Temperature, humidity, pressure","info":"","x":150,"y":240,"wires":[]},{"id":"2898f700.41da8a","type":"ui_chart","z":"dd125598.56b008","name":"Temperature sim graph","group":"fde4866f.851ff8","order":1,"width":0,"height":0,"label":"ºC","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":140,"wires":[[]]},{"id":"39f62056.56cdd","type":"ui_gauge","z":"dd125598.56b008","name":"Temperature sim gauge","group":"fde4866f.851ff8","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":910,"y":180,"wires":[]},{"id":"7f02c6dd.592ec8","type":"change","z":"dd125598.56b008","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":160,"wires":[["2898f700.41da8a","39f62056.56cdd"]]},{"id":"bb2c5afb.492b68","type":"ui_chart","z":"dd125598.56b008","name":"Humidity sim graph","group":"9a4e895b.be7378","order":1,"width":0,"height":0,"label":"%","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":260,"wires":[[]]},{"id":"9061986e.5fd768","type":"ui_gauge","z":"dd125598.56b008","name":"Humidity sim gauge","group":"9a4e895b.be7378","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":890,"y":300,"wires":[]},{"id":"1558567d.15aa7a","type":"change","z":"dd125598.56b008","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["bb2c5afb.492b68","9061986e.5fd768"]]},{"id":"5877b9bb.43f2a8","type":"ui_chart","z":"dd125598.56b008","name":"Pressure sim graph","group":"9492d025.a8517","order":1,"width":0,"height":0,"label":"mbar","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1100","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":380,"wires":[[]]},{"id":"b1985bf9.bd8d18","type":"ui_gauge","z":"dd125598.56b008","name":"Pressure sim gauge","group":"9492d025.a8517","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"mbar","format":"{{value}}","min":0,"max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":900,"y":420,"wires":[]},{"id":"d7efdc7c.28a5e","type":"change","z":"dd125598.56b008","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":400,"wires":[["5877b9bb.43f2a8","b1985bf9.bd8d18"]]},{"id":"de1c6952.5b59a8","type":"debug","z":"dd125598.56b008","name":"data points","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":480,"wires":[]},{"id":"209f0fa.f31cdf","type":"pusher in","z":"d141ee18.59417","name":"","channel":"data_env","cluster":"eu","eventname":"env","x":250,"y":120,"wires":[["42709b1.61d5164","12f4b07a.71862"]]},{"id":"42709b1.61d5164","type":"debug","z":"d141ee18.59417","name":"pusher output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":120,"wires":[]},{"id":"fe065cfa.d64ce","type":"throttle","z":"dd125598.56b008","name":"","throttleType":"time","timeLimit":"1","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":340,"y":280,"wires":[["7f02c6dd.592ec8","1558567d.15aa7a","d7efdc7c.28a5e","de1c6952.5b59a8"]]},{"id":"dd59b1cf.a74d58","type":"comment","z":"942da33e.1c1b2","name":"Temperature, humidity, pressure","info":"","x":150,"y":240,"wires":[]},{"id":"e20d7ec9.a15d2","type":"ui_chart","z":"942da33e.1c1b2","name":"Temperature graph","group":"263558e7.b57a98","order":1,"width":0,"height":0,"label":"ºC","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":140,"wires":[[]]},{"id":"ddc10ccb.d58778","type":"ui_gauge","z":"942da33e.1c1b2","name":"Temperature gauge","group":"263558e7.b57a98","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":1100,"y":180,"wires":[]},{"id":"61d256b9.b5d61","type":"change","z":"942da33e.1c1b2","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":160,"wires":[["e20d7ec9.a15d2","ddc10ccb.d58778"]]},{"id":"e2e55ee7.50e868","type":"ui_chart","z":"942da33e.1c1b2","name":"Humidity graph","group":"9656f477.d04768","order":1,"width":0,"height":0,"label":"%","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1080,"y":260,"wires":[[]]},{"id":"e3c29f7c.b6cab8","type":"ui_gauge","z":"942da33e.1c1b2","name":"Humidity gauge","group":"9656f477.d04768","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":1080,"y":300,"wires":[]},{"id":"96367e68.5b32","type":"change","z":"942da33e.1c1b2","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":280,"wires":[["e2e55ee7.50e868","e3c29f7c.b6cab8"]]},{"id":"f5aceae9.992b7","type":"ui_chart","z":"942da33e.1c1b2","name":"Pressure graph","group":"5d36a0dc.42082","order":1,"width":0,"height":0,"label":"mbar","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1100","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1080,"y":380,"wires":[[]]},{"id":"21025f78.cf084","type":"ui_gauge","z":"942da33e.1c1b2","name":"Pressure gauge","group":"5d36a0dc.42082","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"mbar","format":"{{value}}","min":0,"max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":1080,"y":420,"wires":[]},{"id":"b55a40c5.0e246","type":"change","z":"942da33e.1c1b2","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["f5aceae9.992b7","21025f78.cf084"]]},{"id":"5b2d152e.97a884","type":"debug","z":"942da33e.1c1b2","name":"data points","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":480,"wires":[]},{"id":"64d4d8a.f0a0928","type":"throttle","z":"942da33e.1c1b2","name":"","throttleType":"time","timeLimit":"3","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":440,"y":280,"wires":[["61d256b9.b5d61","96367e68.5b32","b55a40c5.0e246","5b2d152e.97a884"]]},{"id":"12f4b07a.71862","type":"link out","z":"d141ee18.59417","name":"pusher output","links":["e23f3dc0.236488"],"x":400,"y":220,"wires":[]},{"id":"e23f3dc0.236488","type":"link in","z":"942da33e.1c1b2","name":"data input","links":["12f4b07a.71862"],"x":175,"y":280,"wires":[["64d4d8a.f0a0928"]]},{"id":"92d61ea5.9c93b8","type":"comment","z":"942da33e.1c1b2","name":"change the data frequency","info":"","x":390,"y":320,"wires":[]}]