app/flows/flow1.json
[
    {
        "id": "506dbb20.3e7b24",
        "type": "tab",
        "label": "your flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f00a487a.95faf8",
        "type": "tab",
        "label": "Basic statistics",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4dce9a3a.3b42a4",
        "type": "tab",
        "label": "Visualization",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fee98c91.8a287",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4ebc020.2c1f1",
        "type": "ui_group",
        "z": "",
        "name": "Temperature Graph",
        "tab": "e5c0fc35.e6c5e",
        "order": 2,
        "disp": true,
        "width": "21",
        "collapse": false
    },
    {
        "id": "e5c0fc35.e6c5e",
        "type": "ui_tab",
        "z": "",
        "name": "Time series",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fc0d1a5.8b429e8",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "Last 10 samples",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 920,
        "y": 80,
        "wires": []
    },
    {
        "id": "2bc107be.598d38",
        "type": "buffer-array",
        "z": "f00a487a.95faf8",
        "name": "",
        "bufferLen": "10",
        "startWhenFilled": false,
        "x": 570,
        "y": 140,
        "wires": [
            [
                "fc0d1a5.8b429e8",
                "95bc4888.1dc8d8",
                "4992488e.00f708"
            ]
        ]
    },
    {
        "id": "95bc4888.1dc8d8",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "msg.payload[9] -> MOST RECENT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload[9].temperature",
        "targetType": "msg",
        "x": 980,
        "y": 120,
        "wires": []
    },
    {
        "id": "4992488e.00f708",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "msg.payload[0] -> OLDEST",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0].temperature",
        "targetType": "msg",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "3c167705.047788",
        "type": "change",
        "z": "f00a487a.95faf8",
        "name": "temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "74919f21.17b43",
                "40b60646.045ed8"
            ]
        ]
    },
    {
        "id": "f4305bfe.573b38",
        "type": "statistics",
        "z": "f00a487a.95faf8",
        "name": "statistics over 10",
        "dataSetSize": "10",
        "inputField": "payload",
        "inputFieldType": "msg",
        "resultField": "payload",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": true,
        "x": 590,
        "y": 420,
        "wires": [
            [
                "8f5d2db3.d51ef",
                "60adfb2f.7e37c4"
            ]
        ]
    },
    {
        "id": "8f5d2db3.d51ef",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "AVERAGE temperature (last 10)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 420,
        "wires": []
    },
    {
        "id": "abaf53a1.d881a",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "STANDARD DEV temperature (last 10)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 930,
        "y": 540,
        "wires": []
    },
    {
        "id": "cdd8167e.fe1878",
        "type": "statistics",
        "z": "f00a487a.95faf8",
        "name": "statistics over 10",
        "dataSetSize": "10",
        "inputField": "payload",
        "inputFieldType": "msg",
        "resultField": "payload",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": true,
        "x": 650,
        "y": 540,
        "wires": [
            [
                "abaf53a1.d881a",
                "23ab732.444268c"
            ]
        ]
    },
    {
        "id": "323e99c2.87fbe6",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "mean",
        "func": "msg.topic=\"mean\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "f4305bfe.573b38"
            ]
        ]
    },
    {
        "id": "d6e95652.4862c8",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "standardDeviation",
        "func": "msg.topic=\"standardDeviation\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 540,
        "wires": [
            [
                "cdd8167e.fe1878"
            ]
        ]
    },
    {
        "id": "74919f21.17b43",
        "type": "buffer-array",
        "z": "f00a487a.95faf8",
        "name": "",
        "bufferLen": "10",
        "startWhenFilled": false,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "323e99c2.87fbe6",
                "d6e95652.4862c8"
            ]
        ]
    },
    {
        "id": "99a36d3c.50a7",
        "type": "rpi-sensehatsim in",
        "z": "f00a487a.95faf8",
        "name": "",
        "motion": false,
        "env": true,
        "stick": true,
        "x": 80,
        "y": 200,
        "wires": [
            [
                "306cd6c1.52106a"
            ]
        ]
    },
    {
        "id": "306cd6c1.52106a",
        "type": "throttle",
        "z": "f00a487a.95faf8",
        "name": "",
        "throttleType": "time",
        "timeLimit": "2",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "3c167705.047788",
                "2bc107be.598d38"
            ]
        ]
    },
    {
        "id": "bde65654.82a218",
        "type": "comment",
        "z": "506dbb20.3e7b24",
        "name": "Build your own flow in this tab following the steps provided in the exercise.Tab Basic statistics contains the full final flow.",
        "info": "",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "40b60646.045ed8",
        "type": "link out",
        "z": "f00a487a.95faf8",
        "name": "Instant output",
        "links": [
            "cabe4cb6.aac56"
        ],
        "x": 775,
        "y": 340,
        "wires": []
    },
    {
        "id": "60adfb2f.7e37c4",
        "type": "link out",
        "z": "f00a487a.95faf8",
        "name": "Mean output",
        "links": [
            "1a891bc0.364b14"
        ],
        "x": 775,
        "y": 460,
        "wires": []
    },
    {
        "id": "23ab732.444268c",
        "type": "link out",
        "z": "f00a487a.95faf8",
        "name": "Standard deviation output",
        "links": [
            "82fa32a6.17213"
        ],
        "x": 775,
        "y": 600,
        "wires": []
    },
    {
        "id": "d3d92e56.e1727",
        "type": "function",
        "z": "4dce9a3a.3b42a4",
        "name": "Instant temperature",
        "func": "// msg output for graphing instant data\nmsg1 = {payload: msg.payload, topic: 'Instant read'}\n\nreturn [msg1];",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "b58183fa.34444"
            ]
        ]
    },
    {
        "id": "7f334699.668018",
        "type": "function",
        "z": "4dce9a3a.3b42a4",
        "name": "Temperature mean",
        "func": "// msg output for graphing average data\nmsg2 = {payload: msg.payload, topic: 'Average over last 10 reads'}\n\nreturn [msg2];",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "9f75572.e5aaba8"
            ]
        ]
    },
    {
        "id": "36460336.22351c",
        "type": "function",
        "z": "4dce9a3a.3b42a4",
        "name": "Temperature stdDev",
        "func": "// msg output for graphing average data\nmsg3 = {payload: msg.payload, topic: 'Standard deviation over last 10 reads'}\n\nreturn [msg3];",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 400,
        "wires": [
            [
                "33396c03.623864"
            ]
        ]
    },
    {
        "id": "b58183fa.34444",
        "type": "ui_chart",
        "z": "4dce9a3a.3b42a4",
        "name": "Temperature",
        "group": "4ebc020.2c1f1",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "{{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": true,
        "ymin": "0",
        "ymax": "25",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1010,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "cabe4cb6.aac56",
        "type": "link in",
        "z": "4dce9a3a.3b42a4",
        "name": "Instant input",
        "links": [
            "40b60646.045ed8"
        ],
        "x": 235,
        "y": 220,
        "wires": [
            [
                "d3d92e56.e1727"
            ]
        ]
    },
    {
        "id": "1a891bc0.364b14",
        "type": "link in",
        "z": "4dce9a3a.3b42a4",
        "name": "Mean input",
        "links": [
            "60adfb2f.7e37c4"
        ],
        "x": 235,
        "y": 320,
        "wires": [
            [
                "7f334699.668018"
            ]
        ]
    },
    {
        "id": "82fa32a6.17213",
        "type": "link in",
        "z": "4dce9a3a.3b42a4",
        "name": "Standard deviation input",
        "links": [
            "23ab732.444268c"
        ],
        "x": 235,
        "y": 400,
        "wires": [
            [
                "36460336.22351c"
            ]
        ]
    },
    {
        "id": "9f75572.e5aaba8",
        "type": "delay",
        "z": "4dce9a3a.3b42a4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 320,
        "wires": [
            [
                "b58183fa.34444"
            ]
        ]
    },
    {
        "id": "33396c03.623864",
        "type": "delay",
        "z": "4dce9a3a.3b42a4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 790,
        "y": 400,
        "wires": [
            [
                "b58183fa.34444"
            ]
        ]
    }
]