app/flows/flow1.json
[{"id":"f00a487a.95faf8","type":"tab","label":"Basic statistics","disabled":false,"info":""},{"id":"fee98c91.8a287","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1071f503.257ceb","type":"ui_tab","z":"","name":"Sense Hat","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"4ebc020.2c1f1","type":"ui_group","z":"","name":"Temperature Graph","tab":"e5c0fc35.e6c5e","order":2,"disp":true,"width":"21","collapse":false},{"id":"e5c0fc35.e6c5e","type":"ui_tab","z":"","name":"Time series","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"bb270b26.18d878","type":"pusher in","z":"f00a487a.95faf8","name":"","channel":"data_env","cluster":"eu","eventname":"env","x":370,"y":220,"wires":[["2bc107be.598d38","ff6990d1.d87a8","3c167705.047788"]]},{"id":"fc0d1a5.8b429e8","type":"debug","z":"f00a487a.95faf8","name":"Last 10 samples","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":920,"y":80,"wires":[]},{"id":"2bc107be.598d38","type":"buffer-array","z":"f00a487a.95faf8","name":"","bufferLen":"10","startWhenFilled":false,"x":570,"y":140,"wires":[["fc0d1a5.8b429e8","95bc4888.1dc8d8","4992488e.00f708"]]},{"id":"ff6990d1.d87a8","type":"interval-length","z":"f00a487a.95faf8","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":580,"y":220,"wires":[["a0c595ab.fa9128"],[]]},{"id":"95bc4888.1dc8d8","type":"debug","z":"f00a487a.95faf8","name":"msg.payload[9] -> MOST RECENT","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload[9].temperature","targetType":"msg","x":980,"y":120,"wires":[]},{"id":"4992488e.00f708","type":"debug","z":"f00a487a.95faf8","name":"msg.payload[0] -> OLDEST","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].temperature","targetType":"msg","x":960,"y":160,"wires":[]},{"id":"a0c595ab.fa9128","type":"debug","z":"f00a487a.95faf8","name":"Last INTERVAL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":960,"y":240,"wires":[]},{"id":"3c167705.047788","type":"change","z":"f00a487a.95faf8","name":"temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[["2eac3015.8e0c7","74919f21.17b43"]]},{"id":"f4305bfe.573b38","type":"statistics","z":"f00a487a.95faf8","name":"statistics over 10","dataSetSize":"10","inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":false,"resultOnly":true,"x":710,"y":460,"wires":[["8f5d2db3.d51ef","ed866cd1.1d156"]]},{"id":"8f5d2db3.d51ef","type":"debug","z":"f00a487a.95faf8","name":"AVERAGE temperature (last 10)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":460,"wires":[]},{"id":"abaf53a1.d881a","type":"debug","z":"f00a487a.95faf8","name":"STANDARD DEV temperature (last 10)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":520,"wires":[]},{"id":"2eac3015.8e0c7","type":"function","z":"f00a487a.95faf8","name":"Instant temperature","func":"// msg output for graphing instant data\nmsg1 = {payload: msg.payload, topic: 'Instant read'}\n\nreturn [msg1];","outputs":1,"noerr":0,"x":1050,"y":300,"wires":[["a94f7491.1f20a8"]]},{"id":"ed866cd1.1d156","type":"function","z":"f00a487a.95faf8","name":"Temperature mean","func":"// msg output for graphing average data\nmsg2 = {payload: msg.payload, topic: 'Average over last 10 reads'}\n\nreturn [msg2];","outputs":1,"noerr":0,"x":1050,"y":340,"wires":[["a94f7491.1f20a8"]]},{"id":"1f3bfbb9.0451a4","type":"function","z":"f00a487a.95faf8","name":"Temperature stdDev","func":"// msg output for graphing average data\nmsg3 = {payload: msg.payload, topic: 'Standard deviation over last 10 reads'}\n\nreturn [msg3];","outputs":1,"noerr":0,"x":1060,"y":380,"wires":[["a94f7491.1f20a8"]]},{"id":"cdd8167e.fe1878","type":"statistics","z":"f00a487a.95faf8","name":"statistics over 10","dataSetSize":"10","inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":false,"resultOnly":true,"x":670,"y":520,"wires":[["abaf53a1.d881a","1f3bfbb9.0451a4"]]},{"id":"323e99c2.87fbe6","type":"function","z":"f00a487a.95faf8","name":"mean","func":"msg.topic=\"mean\"\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":460,"wires":[["f4305bfe.573b38"]]},{"id":"d6e95652.4862c8","type":"function","z":"f00a487a.95faf8","name":"standardDeviation","func":"msg.topic=\"standardDeviation\"\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":520,"wires":[["cdd8167e.fe1878"]]},{"id":"74919f21.17b43","type":"buffer-array","z":"f00a487a.95faf8","name":"","bufferLen":"10","startWhenFilled":false,"x":390,"y":460,"wires":[["323e99c2.87fbe6","d6e95652.4862c8"]]},{"id":"a94f7491.1f20a8","type":"ui_chart","z":"f00a487a.95faf8","name":"Temperature","group":"4ebc020.2c1f1","order":6,"width":0,"height":0,"label":"{{msg.topic}}","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":true,"ymin":"0","ymax":"25","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1290,"y":340,"wires":[[]]}]