app/flows/flow2.json
[{"id":"f00a487a.95faf8","type":"tab","label":"Basic statistics","disabled":false,"info":""},{"id":"f8d118e1.ddd038","type":"tab","label":"Store aggregated data","disabled":false,"info":""},{"id":"4ba3179e.9bca98","type":"tab","label":"[aux] statistics","disabled":false,"info":""},{"id":"6a95abdd.c160a4","type":"tab","label":"[aux] interval length","disabled":false,"info":""},{"id":"fee98c91.8a287","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1071f503.257ceb","type":"ui_tab","z":"","name":"Sense Hat","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"f315fd49.2b923","type":"ui_group","z":"","name":"Statistics","tab":"1071f503.257ceb","order":1,"disp":true,"width":"6","collapse":false},{"id":"42a92da.f061dd4","type":"ui_spacer","name":"spacer","group":"f315fd49.2b923","order":4,"width":1,"height":1},{"id":"f3aaca43.eb9518","type":"ui_group","z":"","name":"Temperature Graph","tab":"cacb2438.d13638","order":2,"disp":true,"width":"21","collapse":false},{"id":"cacb2438.d13638","type":"ui_tab","z":"","name":"Time series","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9023e951.d83b58","type":"json-db-collection","z":"","name":"temperature","collection":"instant-temperature","save":true},{"id":"bb270b26.18d878","type":"pusher in","z":"f00a487a.95faf8","name":"","channel":"data_env","cluster":"eu","eventname":"env","x":370,"y":220,"wires":[["2bc107be.598d38","ff6990d1.d87a8","3c167705.047788","b5e33c54.6f519"]]},{"id":"fc0d1a5.8b429e8","type":"debug","z":"f00a487a.95faf8","name":"Last 10 samples","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":920,"y":120,"wires":[]},{"id":"2bc107be.598d38","type":"buffer-array","z":"f00a487a.95faf8","name":"","bufferLen":"10","startWhenFilled":false,"x":570,"y":220,"wires":[["fc0d1a5.8b429e8","95bc4888.1dc8d8","4992488e.00f708"]]},{"id":"ff6990d1.d87a8","type":"interval-length","z":"f00a487a.95faf8","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":420,"y":80,"wires":[["a0c595ab.fa9128"],[]]},{"id":"95bc4888.1dc8d8","type":"debug","z":"f00a487a.95faf8","name":"msg.payload[9] -> MOST RECENT","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload[9].temperature","targetType":"msg","x":980,"y":160,"wires":[]},{"id":"4992488e.00f708","type":"debug","z":"f00a487a.95faf8","name":"msg.payload[0] -> OLDEST","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].temperature","targetType":"msg","x":960,"y":220,"wires":[]},{"id":"a0c595ab.fa9128","type":"debug","z":"f00a487a.95faf8","name":"Last INTERVAL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":40,"wires":[]},{"id":"16f621c6.5c6aee","type":"function","z":"f00a487a.95faf8","name":"standardDeviation","func":"msg.topic=\"standardDeviation\"\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":620,"wires":[["af35f1da.61f24"]]},{"id":"12c13b1e.ff04b5","type":"function","z":"f00a487a.95faf8","name":"mean","func":"msg.topic=\"mean\"\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":560,"wires":[["dee2f3d8.d5e29"]]},{"id":"dee2f3d8.d5e29","type":"statistics","z":"f00a487a.95faf8","name":"statistics over 10","dataSetSize":"10","inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":false,"resultOnly":true,"x":630,"y":560,"wires":[["616f042b.87437c","d3039eec.02d7d"]]},{"id":"616f042b.87437c","type":"debug","z":"f00a487a.95faf8","name":"AVERAGE temperature (last 10)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":560,"wires":[]},{"id":"3c167705.047788","type":"change","z":"f00a487a.95faf8","name":"temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":400,"wires":[["da94596a.0d2188","f39c6034.25feb","1356e68.0112c1a"]]},{"id":"da94596a.0d2188","type":"buffer-array","z":"f00a487a.95faf8","name":"","bufferLen":"10","startWhenFilled":false,"x":290,"y":560,"wires":[["12c13b1e.ff04b5","16f621c6.5c6aee"]]},{"id":"6a02ae7b.f102","type":"debug","z":"f00a487a.95faf8","name":"STANDARD DEV temperature (last 10)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":620,"wires":[]},{"id":"af35f1da.61f24","type":"statistics","z":"f00a487a.95faf8","name":"statistics over 10","dataSetSize":"10","inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":false,"resultOnly":true,"x":610,"y":620,"wires":[["6a02ae7b.f102","47ac34bd.0f964c"]]},{"id":"db44cb48.2aee18","type":"interval-length","z":"6a95abdd.c160a4","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":340,"y":100,"wires":[["73da937b.25177c","da44db38.69fb18","631586d2.f67018"],[]]},{"id":"73da937b.25177c","type":"debug","z":"6a95abdd.c160a4","name":"Last INTERVAL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":100,"wires":[]},{"id":"ea51d8a9.4e3488","type":"debug","z":"4ba3179e.9bca98","name":"AVERAGE temperature (last 10)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":380,"wires":[]},{"id":"87173334.1b02d","type":"statistics","z":"4ba3179e.9bca98","name":"statistics over 10","dataSetSize":"10","inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":false,"resultOnly":true,"x":570,"y":380,"wires":[["ea51d8a9.4e3488"]]},{"id":"cef5b347.97e7","type":"debug","z":"4ba3179e.9bca98","name":"STANDARD DEV temperature (last 10)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":440,"wires":[]},{"id":"4d0f9c0a.8d61d4","type":"statistics","z":"4ba3179e.9bca98","name":"statistics over 10","dataSetSize":"10","inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":false,"resultOnly":true,"x":490,"y":440,"wires":[["cef5b347.97e7"]]},{"id":"7a53e3f3.d8c6bc","type":"function","z":"4ba3179e.9bca98","name":"standardDeviation","func":"msg.topic=\"standardDeviation\"\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":440,"wires":[["4d0f9c0a.8d61d4"]]},{"id":"9ebd3f54.23f8f","type":"function","z":"4ba3179e.9bca98","name":"mean","func":"msg.topic=\"mean\"\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["87173334.1b02d"]]},{"id":"41ee234a.bf2d4c","type":"buffer-array","z":"4ba3179e.9bca98","name":"","bufferLen":"10","startWhenFilled":false,"x":570,"y":220,"wires":[["9ebd3f54.23f8f","7a53e3f3.d8c6bc"]]},{"id":"6a0fc96b.4f65c8","type":"change","z":"4ba3179e.9bca98","name":"temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["41ee234a.bf2d4c"]]},{"id":"2db7f0ed.c4b6a","type":"buffer-array","z":"6a95abdd.c160a4","name":"","bufferLen":"10","startWhenFilled":true,"x":430,"y":380,"wires":[["cfd56035.dcd76"]]},{"id":"5cb0db03.c39c14","type":"debug","z":"6a95abdd.c160a4","name":"Average INTERVAL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":300,"wires":[]},{"id":"89b387f1.df7588","type":"statistics","z":"6a95abdd.c160a4","name":"statistics over 10","dataSetSize":"10","inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":false,"resultOnly":false,"x":490,"y":300,"wires":[["5cb0db03.c39c14","20eca483.e4b86c"]]},{"id":"cfd56035.dcd76","type":"function","z":"6a95abdd.c160a4","name":"mean","func":"msg.topic=\"mean\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["89b387f1.df7588"]]},{"id":"da44db38.69fb18","type":"function","z":"6a95abdd.c160a4","name":"Interval errors","func":"msg.payload = msg.payload - 2000\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["2db7f0ed.c4b6a"]]},{"id":"d6b6f52d.20dd08","type":"ui_text","z":"6a95abdd.c160a4","group":"f315fd49.2b923","order":2,"width":0,"height":0,"name":"","label":"Last interval [seconds]","format":"<font size=5>{{msg.payload}}","layout":"col-center","x":880,"y":160,"wires":[]},{"id":"631586d2.f67018","type":"function","z":"6a95abdd.c160a4","name":"to seconds","func":"const seconds = msg.payload/1000\nconst seconds_with_3_decimals = seconds.toFixed(3)\n\nmsg.payload = seconds_with_3_decimals\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":160,"wires":[["d6b6f52d.20dd08"]]},{"id":"746b0010.4cb9a","type":"ui_text","z":"6a95abdd.c160a4","group":"f315fd49.2b923","order":3,"width":0,"height":0,"name":"","label":"Average interval (last 10 samples)","format":"<font size=5>{{msg.payload}}","layout":"col-center","x":920,"y":240,"wires":[]},{"id":"20eca483.e4b86c","type":"function","z":"6a95abdd.c160a4","name":"to seconds","func":"const seconds = msg.payload/1000\nconst seconds_with_3_decimals = seconds.toFixed(3)\n\nmsg.payload = seconds_with_3_decimals\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":240,"wires":[["746b0010.4cb9a"]]},{"id":"22460d9.a3e1ff2","type":"ui_text","z":"6a95abdd.c160a4","group":"f315fd49.2b923","order":1,"width":0,"height":0,"name":"Health","label":"","format":"<font size=5>{{msg.payload}}","layout":"col-center","x":830,"y":20,"wires":[]},{"id":"d81879bc.54f8f8","type":"inject","z":"6a95abdd.c160a4","name":"","topic":"","payload":"Health indicators","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":630,"y":20,"wires":[["22460d9.a3e1ff2"]]},{"id":"62adcdca.2488b4","type":"ui_chart","z":"f00a487a.95faf8","name":"Temperature","group":"f3aaca43.eb9518","order":6,"width":0,"height":0,"label":"{{msg.topic}}","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":true,"ymin":"0","ymax":"25","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":440,"wires":[[]]},{"id":"f39c6034.25feb","type":"function","z":"f00a487a.95faf8","name":"Instant temperature","func":"// msg output for graphing instant data\nmsg1 = {payload: msg.payload, topic: 'Instant read'};\nreturn [msg1];","outputs":1,"noerr":0,"x":990,"y":400,"wires":[["62adcdca.2488b4"]]},{"id":"d3039eec.02d7d","type":"function","z":"f00a487a.95faf8","name":"Temperature mean","func":"// msg output for graphing average data\nmsg2 = {payload: msg.payload, topic: 'Average over last 10 reads'};\nreturn [msg2];","outputs":1,"noerr":0,"x":990,"y":440,"wires":[["62adcdca.2488b4"]]},{"id":"47ac34bd.0f964c","type":"function","z":"f00a487a.95faf8","name":"Temperature stdDev","func":"// msg output for graphing standard deviation data\nmsg3 = {payload: msg.payload, topic: 'Standard deviation over last 10 reads'};\nreturn [msg3];","outputs":1,"noerr":0,"x":980,"y":480,"wires":[["62adcdca.2488b4"]]},{"id":"ba83d3a4.23ad","type":"DataIn","z":"f8d118e1.ddd038","collection":"9023e951.d83b58","name":"Instant Temperature","update":true,"path":"/temperature","x":940,"y":220,"wires":[]},{"id":"1356e68.0112c1a","type":"link out","z":"f00a487a.95faf8","name":"Store temperature","links":["6c7005d6.b64d5c"],"x":855,"y":320,"wires":[]},{"id":"6c7005d6.b64d5c","type":"link in","z":"f8d118e1.ddd038","name":"IN-Store temperature","links":["1356e68.0112c1a"],"x":255,"y":220,"wires":[["a1f41c67.d1372"]]},{"id":"a1f41c67.d1372","type":"throttle","z":"f8d118e1.ddd038","name":"","throttleType":"time","timeLimit":"10","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":410,"y":220,"wires":[["3c8fc4ef.4c68bc"]]},{"id":"49423bdc.9322e4","type":"debug","z":"f8d118e1.ddd038","name":"Saved data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","x":910,"y":280,"wires":[]},{"id":"3c8fc4ef.4c68bc","type":"function","z":"f8d118e1.ddd038","name":"Format and add timestamp","func":"const timestamp = new Date();\n\nmsg.payload = [{\n    timestamp:   timestamp.toString(),\n    temperature: msg.payload\n    }];\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":220,"wires":[["49423bdc.9322e4","ba83d3a4.23ad"]]},{"id":"b5e33c54.6f519","type":"link out","z":"f00a487a.95faf8","name":"raw data input","links":["65aa11f4.d9a4c","e235e026.6ec1d"],"x":555,"y":140,"wires":[]},{"id":"e0d33995.4c3a88","type":"comment","z":"f00a487a.95faf8","name":"Pusher out","info":"","x":600,"y":100,"wires":[]},{"id":"d9c7f77.59e0708","type":"comment","z":"f00a487a.95faf8","name":"Temperature","info":"","x":950,"y":320,"wires":[]},{"id":"65aa11f4.d9a4c","type":"link in","z":"4ba3179e.9bca98","name":"Pusher In","links":["b5e33c54.6f519"],"x":220,"y":100,"wires":[["6a0fc96b.4f65c8"]]},{"id":"1d5e6378.48bcdd","type":"comment","z":"4ba3179e.9bca98","name":"Pusher in","info":"","x":260,"y":60,"wires":[]},{"id":"e235e026.6ec1d","type":"link in","z":"6a95abdd.c160a4","name":"","links":["b5e33c54.6f519"],"x":215,"y":100,"wires":[["db44cb48.2aee18"]]},{"id":"268f640a.87772c","type":"comment","z":"6a95abdd.c160a4","name":"Pusher in","info":"","x":200,"y":60,"wires":[]},{"id":"f15a687.6354498","type":"comment","z":"f8d118e1.ddd038","name":"Temperature","info":"","x":310,"y":180,"wires":[]}]