app/flows/no buffer
[{"id":"f00a487a.95faf8","type":"tab","label":"Basic statistics","disabled":false,"info":""},{"id":"3c167705.047788","type":"change","z":"f00a487a.95faf8","name":"temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":340,"wires":[["40b60646.045ed8","323e99c2.87fbe6","d6e95652.4862c8"]]},{"id":"f4305bfe.573b38","type":"statistics","z":"f00a487a.95faf8","name":"statistics over 10","dataSetSize":"10","inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":false,"resultOnly":true,"x":590,"y":420,"wires":[["8f5d2db3.d51ef","60adfb2f.7e37c4"]]},{"id":"8f5d2db3.d51ef","type":"debug","z":"f00a487a.95faf8","name":"AVERAGE temperature (last 10)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":420,"wires":[]},{"id":"abaf53a1.d881a","type":"debug","z":"f00a487a.95faf8","name":"STANDARD DEV temperature (last 10)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":540,"wires":[]},{"id":"cdd8167e.fe1878","type":"statistics","z":"f00a487a.95faf8","name":"statistics over 10","dataSetSize":"10","inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":false,"resultOnly":true,"x":650,"y":540,"wires":[["abaf53a1.d881a","23ab732.444268c"]]},{"id":"323e99c2.87fbe6","type":"function","z":"f00a487a.95faf8","name":"mean","func":"msg.topic=\"mean\"\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["f4305bfe.573b38"]]},{"id":"d6e95652.4862c8","type":"function","z":"f00a487a.95faf8","name":"standardDeviation","func":"msg.topic=\"standardDeviation\"\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["cdd8167e.fe1878"]]},{"id":"306cd6c1.52106a","type":"throttle","z":"f00a487a.95faf8","name":"","throttleType":"time","timeLimit":"2","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":260,"y":240,"wires":[["3c167705.047788"]]},{"id":"40b60646.045ed8","type":"link out","z":"f00a487a.95faf8","name":"Instant output","links":["cabe4cb6.aac56"],"x":775,"y":340,"wires":[]},{"id":"60adfb2f.7e37c4","type":"link out","z":"f00a487a.95faf8","name":"Mean output","links":["1a891bc0.364b14"],"x":775,"y":460,"wires":[]},{"id":"23ab732.444268c","type":"link out","z":"f00a487a.95faf8","name":"Standard deviation output","links":["82fa32a6.17213"],"x":775,"y":600,"wires":[]},{"id":"1275386.cc9d9c8","type":"pusher in","z":"f00a487a.95faf8","name":"","channel":"data_env","cluster":"eu","eventname":"env","x":90,"y":240,"wires":[["306cd6c1.52106a"]]}]